@model UsersAward.PLL.Web.Models.UserModels.DisplayUserVM

@{ 
    Layout = "~/Views/Shared/_UsersLayout.cshtml";
    ViewBag.Title = "User details";
}

@section scripts{
    <script src="~/Scripts/showFreeAwardsScript.js"></script>
}

<div>
    <h4 class="text-center">User details</h4>

    @{ Html.RenderPartial("_DisplayUserInfo", AutoMapper.Mapper.Map<DeleteUserVM>( Model)); }
    <div class="col-xs-12 text-center">
        <button class="btn btn-default" id="addAward" data-id="@Model.Id">Add award</button>
    </div>
    <div class="col-xs-12">
        <table class="table">
            <caption class="text-center">Awards</caption>
            <tbody>

                @foreach (var item in Model.Awards)
                {
                    <tr>
                        <td> <img style="float: right" class="bordered-img award" width="40" height="40" src=@Url.Action("GetImageById", new { id = item.ImageId }) title="@item.Title" /></td>
                        <td>@item.Title</td>
                        <td>@item.Description</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
